<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
@DateTime.Now
    <br />
@Request.Url 

    @{ 
       string Name = "Dalal";
        int Age = 23;
    }

   <h1>Welcome @Name Your Age = @Age</h1> 
    
</body>
</html>
